*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: "poppins" sans-serif;
    scroll-behavior: smooth;
}
.logo{
    float: left;
    margin-top: 0%;
    padding:10px;
}

header::after{
    content: '';
    display: table;
    clear: both;
}
.container1{
    width: auto;
    margin: auto;
}

nav{
    float: right;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 40px;
    padding-bottom: 10px;

}
nav a{
    text-decoration: none;
    
}
span{
    color:yellow;
}



.img-land{
    float: right;
}
.btn{
 height: 30px;
 width: 10%;
 outline: none;
 border: none;
 background-color:  #F6B400;
 color: white;
 border-radius: 60px;
 font-weight: 500;
}
.img-land img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 200px;
}
.menu-img img {
    width: 200px;
    height: 4g00px;
  }

 /* .container{
     
 } */
 .landpage{
    
    width: 100%;
    display: flex;
    justify-content:space-evenly;
 }
 .container{
    background-color: white;
    height: 1000px;
    width: 100%;
 }
 .item{
     vertical-align: top;
     display: inline-block;
     text-align: center;
     width: 129px;
 }
 .menu{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 129px;
}
.menu-item{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 129px;
}
.backpol{
    position: absolute;
    background-color: #F6B400:right:0;
    right

    clip-path: polygon(100% 100%, 31% 100%, 61% 0, 100% 0);
}